*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family:sans-serif;

}
body{
    width:100%;
    height:100vh;
    background:linear-gradient(135deg,#153677,#4e085f);
    display:flex;
    justify-content:center;
    align-items:center;
}
.todo-app{
    
    min-width:500px;
    background: #fff;
    border-radius: 10px;
    padding: 55px 30px 40px;
    margin:30px auto 20px;
}
.todo-app h3{
    text-align: center;
    margin-bottom:20px;
    display:flex;
    color:#002765;
}
.row{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom:25px;
}
.todo-app input{
    flex:1;
height:30px;
width:250px;

background: transparent;
outline:none;
border:0;
padding: 10px;
font-weight: 14px;
}
.todo-app button{
    height:30px;
    width:60px;
    background:orange;
    color:#fff;
    border:0;
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
}

 .todo-app ul li{
    list-style-type: none;
    padding:12px 8px 12px 50px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
    position: relative;
}
.todo-app ul li::before{
    content: '';
    position: absolute;
    height:22px;
    width:22px;
    border-radius: 50%;
    background-image: url(unchecked.jpeg);
    background-size: cover;
    background-position: center;
    margin-top:9px;
    left:8px;
}
ul li.checked {
    color:#555;
    text-decoration:line-through;

}
ul li.checked::before{
    background-image: url(checked.jpeg);
}
ul li span {
    font-size: 22px;
    height: 40px;
    margin-right:0px;
    margin-left: 200px;
    line-height: 40px;
    border-radius: 50px;
    width:70px;
    text-decoration: none;
    top:5px;
    color: #555;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}

